body{
  margin:0;
}
a {
  text-decoration: none;
  color: darkcyan;
}
@media(min-width:700px){
    h1 {
    font-size:45px;
    text-align:center;
    border-bottom:1px gray solid;
    margin:0;
    padding:20px;
  }
  #line{
    border-right:1px solid gray;
    width:90px;
    margin:0;
    padding-top:20px;
  }
  #grid{
    display:grid;
    grid-template-columns: 150px 1fr
  }
}
